.edit-profile img{
    height: 150px !important;
    width: 150px !important;
}

.edit-profile {
    border-right: 1px solid rgba(0,0,0,0.2) !important;
}
.profile-image img{
    height: 150px !important;
    width: 150px !important;
}

.main_patient_dashboard{
    font-family: 'Poppins' !important;
}

.main_patient_dashboard h5{
    font-size: clamp(1rem, 3vw, 1.3rem);
}

.main_patient_dashboard .full-address{
    font-size: clamp(1rem, 3vw, 1.3rem);
}
