
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root{
    /* --primaryColor: #FFFFFF;
    --secondaryColor: #065A24;
    --tertiaryColor: #2E8B57; */

    --menu-text-color:#ffffff;
    --active-menu-text: #ffffff;
    --primary-bg-text:#ffffff;
}


@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins/Poppins-ExtraBold.ttf')format('ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('/Poppins/Poppins-Bold.ttf')format('ttf');
    font-weight: 500;
    font-style: normal;
}

html body
{
    background-color: var(--primaryColor) !important;
}
header{
    background-color: #ffffff !important;
    position: sticky;
    top: 0;
    z-index: 100;
}

header h1{
    font-family: 'Poppins';
    font-size: clamp(18px, 4vw, 40px) !important;
    word-break: break-word;
}

.username-n-role h5{
    font-size: clamp(14px, 3vw, 20px);
}
.username-n-role h6{
    font-size: clamp(12px, 2.5vw, 16px);
}
.hamburger:active{
    border: none !important;
    outline: none !important;
}
.fa-bars{
    color: var(--secondaryColor);
}
.fa-bars:hover{
    color: var(--tertiaryColor);

}
input.role-radio{
    transform: scale(1.3) !important;
    border: 2px solid black !important;
}
/* h1,
h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
} */
.table td h5 {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  font-weight: 600;
}

label{
    font-family:'Poppins', sans-serif ;
    font-weight: 500 !important;
}

input.role-radio{
    transform: scale(1.3) !important;
    border: 2px solid black !important;
}
body{
    min-height: 100vh !important;
    height: auto;
}

/* icons */


.menu-items i,
.menu-items svg {
  font-size: clamp(12px, 2.2vw, 19px) !important; 
}
.menu-items h4,
.menu-items h5{
  font-size: clamp(12px, 2.2vw, 19px) !important; 
  
  line-height: 1.2; /* prevent wrapping in tight space */
  font-family: 'Poppins', sans-serif;
}

.icons{
    width: 30px;
    height: 30px;
}

.menu-bar{
    background-color:var(--secondaryColor);
    position: sticky;
    min-height: 100vh;
    top: 0;
    width: 280px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease, all 0.3s ease;
    overflow-x: hidden; 
}
.sub-menu{
    display: none;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}

.rotate {
    transform: rotate(90deg); /* or 180deg based on your icon design */
    transition: transform 0.3s ease;
}
.menu-items:hover{
    background-color: var(--tertiaryColor);
    transition: .3s ease-in-out;
}
.active{
    background-color: var(--tertiaryColor);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);

}
.sub-menu a{
    border-left: 2px solid white;
}
/* logout button */
.logout{
    transform: scaleX(-1) !important;
}
/* HEADER */
header{
    min-height: 90px !important;
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3) !important;
}


header nav h1{
    text-transform: uppercase;
    font-weight: 700;
}
header nav h1 span{
    color: #00BCD4;
}
/* profile image */
.profile-img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.3);
    
}
/* header hamburger */

.links{
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
    display: none !important;
}
.links a{
    padding: 10px;
}
.links a:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.links a:hover{
    background-color: rgb(240, 240, 240);
}
.links_active {
    display:flex !important;
}

/* login form con */
.login-form-con{
    min-height: 55vh;
}
.form-group{
     width: 100%;
}
input.form-control, #fa-eye { 
    border: 1px solid rgba(108, 108, 108, 0.1);
    font-size: clamp(18px,3vw,22px);
    

}
/* eye opener */
.input-pass{
    position: relative;
}
#eye-icon{
    position: absolute;
    right: 0;
    border-radius: 0 5px 5px 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color:  #6c757d;
    font-size: clamp(18px,3vw,22px);
    /* padding: 1vw; */
}
#eye-icon:hover {
    color: #000; 
}

.wrapper a{
    color: var(--menu-text-color) !important;
    transition: color .5s ease;
}
.wrapper a svg{
    fill: var(--menu-text-color) !important;
}
/* .wrapper a.active svg,
.wrapper .sub-menu a.active svg{
    fill: var(--active-menu-text) !important;
} */
.wrapper a.active{
    color: var(--active-menu-text) !important;
}
.wrapper a.active h4,
.wrapper .sub-menu a.active h5{
    color: var(--active-menu-text) !important;
}
.wrapper a:hover{
    color:var(--active-menu-text) !important;
}
/* .wrapper .sub-menu a svg:hover{
    fill:var(--active-menu-text) !important;
} */

form h1{
    color: var(--menu-text-color) !important;
}

main h1,
div small,
div h2,
div h3,
.sequence-links h5,
.sequence-links svg,
.sequence-links a{
    fill: var(--primary-bg-text) !important;
    color: var(--primary-bg-text) !important;
}

/* EYE ICON HOVER */
#eye-icon:hover,
#Retype-eye-icon{
    background: black;
    cursor: pointer;
}
.delete-icon:hover(){
    cursor: pointer;
}

/* Overlay of hamburger in ipad to mobile */

.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0 ,0.5);
    display: none;
    z-index: 9998;
}
.sidebar-overlay.active{
    display: block;
}

                        /* RESPONSIVENESS */


/* Extra small devices (phones, 600px and down) */
@media  (max-width: 600px) {
  header h1 {
    display: none; /* hides text for tighter space */
  }

  .profile-img {
    width: 35px;
    height: 35px;
  }

  .hamburger i {
    font-size: 1.5rem;
  }

  .bi-bell {
    width: 24px;
    height: 24px;
  }

  .right-info {
    gap: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media  (min-width: 768px) {
    input.form-control{ 
    border: 1px solid rgba(108, 108, 108, 0.1);
    font-size: clamp(15px,3vw,18px);
    }

}
/* small to medium devices */

@media(max-width: 991px){
    header{
        top: 0;
        position: sticky;
    }
    .menu-bar{
        position: fixed;
        left: -260px;
        top: 0;
        transition: left 0.5s ease;
        z-index: 9999;
    }
    .menu-bar.show{
        left: 0;
    }
    #closeSidebar{
        display: block;
        font-size: 3rem;
        color: red;
        background: none;
        border: none;
        cursor: pointer;

    }
    #closeSidebar:hover{
            color: #c0392b;

    }
  .logo-con{
    margin-top: 0 !important;
  }

  .menu-items h4,
  .menu-items h5 {
    font-size: clamp(14px, 3vw, 18px) !important;
    opacity: 1 !important;
    transition: opacity 0.4s ease, transform 0.4s ease !important;
  }

  .menu-items i,
  .menu-items svg {
    width: clamp(20px, 4vw, 28px) !important;
  }

  .logo {
    width: clamp(70px, 15vw, 120px);
    transition: transform 0.3s ease;
    transform-origin: 30% 0;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
    .menu-bar.collapsed {
        width: 80px; /* icon-only */
        transition: all 0.4s ease;
        

    }
    .menu-bar.collapsed h4,
    .menu-bar.collapsed h5 {
        display: none; /* hide text */
        opacity: 0;
        transition: opacity 0.2s ease;

    }
    .logo {
    width: clamp(70px, 15vw, 50px);

  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.logo{
    max-width: 100%;
     width: clamp(60px, 10vw, 130px);
    height: auto;
    margin: auto !important;
}
}


