@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import 'tailwindcss';


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
/* HEADER */
header {
    min-height: 90px !important;
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3) !important;
}


header nav h1 {
    text-transform: uppercase;
    font-weight: 700;
}

header nav h1 span {
    color: #00BCD4;
}

/* profile image */
.profile-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);

}

/* header hamburger */

.links {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    display: none !important;
}

.links a {
    padding: 10px;
}

.links a:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.links a:hover {
    background-color: rgb(240, 240, 240);
}

.links_active {
    display: flex !important;
}

/* login form con */
.login-form-con {
    min-height: 45vh;
}

.form-group {
    width: 100%;
}

input.form-control,
#fa-eye {
    border: 1px solid rgba(108, 108, 108, 0.1);
    font-size: clamp(18px, 3vw, 22px);


}

/* eye opener */
.input-pass {
    position: relative;
}

#eye-icon {
    position: absolute;
    right: 0;
    border-radius: 0 5px 5px 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    font-size: clamp(18px, 3vw, 22px);
    /* padding: 1vw; */
}

#eye-icon:hover {
    color: #000;
}

.wrapper a {
    color: var(--menu-text-color) !important;
    transition: color .5s ease;
}

.wrapper a svg {
    fill: var(--menu-text-color) !important;
}

/* .wrapper a.active svg,
.wrapper .sub-menu a.active svg{
    fill: var(--active-menu-text) !important;
} */
.wrapper a.active {
    color: var(--active-menu-text) !important;
}

.wrapper a.active h4,
.wrapper .sub-menu a.active h5 {
    color: var(--active-menu-text) !important;
}

.wrapper a:hover {
    color: var(--active-menu-text) !important;
}
header {
    background-color: #ffffff !important;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    font-family: 'Poppins';
    font-size: clamp(18px, 4vw, 40px) !important;
    word-break: break-word;
}
li a {
    text-decoration: none;
    color:green;
    cursor: pointer;
}