:root {
    --main--color: #004225;
    --secondary--color: #2E8B57;
    --third--color: white;
}
nav{
    /* background-color: var(--main--color) !important ; */
    color: white !important;
}
nav .container-fluid a h3{
    color: white;
}
ul li a{
    color: white !important;
}

/*  */