:root {
    --main--color: #004225;
    --secondary--color: #2E8B57;
    --third--color: white;
}

nav {
    /* background-color: var(--main--color) !important ; */
    color: darkgreen !important;
    text-decoration: none;
}

nav .container-fluid a h3 {
    color: darkgreen;
    text-decoration: none;
}

ul li a {
    color: darkgreen !important;
    text-decoration: none;
}

.login-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
label{
    font-weight: bold !important;
}

/*  */