*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head-part{
    border-bottom: 2px solid #2E8B57;
}
.table-header th {
    white-space: nowrap;
    text-align: center;
    padding: 5px;
}
.table-con {
    overflow-x: auto !important;
        overflow-y: auto !important;
        /* Add this */
        width: 100% !important;
        height: 650px !important;
}


.table-con table,
tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

.main-content {
    overflow: hidden !important;
}
.table-header th.need-space {
    width: 200px !important;
    min-width: 200px !important;
}
.table-header th{
    width: 100px !important;
    min-width: 100px !important;
    text-wrap: wrap;
    font-size: 15px;
    font-weight: 500;

}

.table-con table tr{
    height: 30px !important;
    min-height: 30px !important;
}


table td,table th{
    font-size: clamp(0.8rem, 2vw, 1rem) !important;
}

@media(max-width:992px){
 .table-header th.need-space {
    width: 100px !important;
    min-width: 100px !important;
    }
}

