tr th,
tr th div p,
th p{
    font-size: 12px;

}
tr td
 {
    white-space: nowrap;
    padding: 0 10px;
}



table td,table th{
    font-size: clamp(0.8rem, 2vw, 1rem) !important;
}

@media(max-width:992px){
 .table-header th.need-space {
    width: 100px !important;
    min-width: 100px !important;
    }
}